<div class="flex justify-between w-full gap-3">
  <div class="w-1/3 flex flex-col bg-white h-[82vh] overflow-auto">
    <div class="bg-zinc-600 text-center font-bold text-xl p-3 text-white">
      Leader
    </div>
    <div class="flex flex-col justify-center items-center my-5 gap-3">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaRN7KZgcvx6CvCT0NlwiQhxtXaL5UsnFLPw&usqp=CAU"
        class="w-12 h-12 rounded-full"
        alt=""
      />
      <h2 class="font-bold text-base">Lê văn Sinh</h2>
    </div>
    <h3 class="text-center text-base bg-zinc-400 text-white p-1">Team Summary </h3>
   <ul class="m-4 rounded ">
    <li class="bg-gray-300 p-1 border-b-1 my-[1px] flex justify-between">Total Member <span class="rounded-full text-xs bg-gray-400 p-1">12</span> </li>
    <li class="bg-gray-300 p-1 border-b-1 my-[1px] flex justify-between">Total Cost Of Projects <span class="rounded-full text-xs bg-gray-400 p-1">12</span></li>
    <li class="bg-gray-300 p-1 border-b-1 my-[1px] flex justify-between">Processing Tasks <span class="rounded-full text-xs bg-gray-400 p-1">12</span> </li>
    <li class="bg-gray-300 p-1 border-b-1 my-[1px] flex justify-between">Comming Projects <span class="rounded-full text-xs bg-gray-400 p-1">12</span></li>
   </ul>

   <h3 class="text-center text-base bg-zinc-400 text-white p-1">Custommer </h3>
   <ul class="m-4 rounded ">
    <li class="bg-gray-300 p-1 border-b-1 my-[1px] flex justify-between">Total Member  </li>
    <li class="bg-gray-300 p-1 border-b-1 my-[1px] flex justify-between">Total Cost Of Projects </li>
    <li class="bg-gray-300 p-1 border-b-1 my-[1px] flex justify-between">Processing Tasks  </li>
    <li class="bg-gray-300 p-1 border-b-1 my-[1px] flex justify-between">Comming Projects </li>
   </ul>
  </div>
  <div class="w-full">Projects</div>
  <div class="w-1/3">Member</div>
</div>
