<form action="" (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <h1 class="font-bold text-2xl text-center my-5">Login member</h1>
  <div class="bg-white shadow-md w-1/2 mx-auto my-5  rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
    <div class="mb-4">
      <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
        Username
      </label>
      <input ngModel class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" name="username" id="username" type="text" placeholder="Username" #username="ngModel">
      <p *ngIf="!username?.valid && (username?.dirty || username?.touched)" class="text-red text-xs italic text-red-600">Please choose a username.</p>
    </div>
    <div class="mb-6">
      <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
        Password
      </label>
      <input ngModel class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3" name="password" id="password" type="password" placeholder="******************" #password="ngModel">
      <p *ngIf="!password?.valid && (password?.dirty || password?.touched)" class="text-red text-xs italic text-red-600">Please choose a password.</p>
    </div>
    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" type="submit">
        Sign In
      </button>
      <a class="inline-block align-baseline font-bold text-sm text-blue hover:text-blue-darker" href="#">
        Forgot Password?
      </a>
    </div>
  </div>

</form>
